.next/*
build/*
node_modules/*
.eslintcache
package-lock.json
yarn.lock
.vscode/*
_next/*
cdn/*
dist/*
yarn-error.log
.eslintrc.json
README.md
public/static/*
docker-compose-dev.yml
docker-compose-stage.yml
docker-compose.yml
.babelrc
.prettierrc.yaml
